RewriteEngine On
RewriteBase /
RewriteRule ^([a-z]{2})/$ index.php?lingua=$1
RewriteRule ^([^/]+)/index.html$ index.php?lingua=$1
RewriteRule ^([^/]+)/prodotti.html$ prodotti.php?lingua=$1
RewriteRule ^([^/]+)/prodotti([0-9]+).html$ prodotti.php?lingua=$1&id_sezione=$2
RewriteRule ^([^/]+)/prodotti([0-9]+)-([0-9]+).html$ prodotti.php?lingua=$1&id_sezione=$2&id_categoria=$3
RewriteRule ^([^/]+)/prodotti([0-9]+)-([0-9]+)-([0-9]+).html$ prodotti.php?lingua=$1&id_sezione=$2&id_categoria=$3&id_sottocategoria=$4
RewriteRule ^([^/]+)/prodotto([0-9]+)/([a-zA-Z0-9_-]+)\.html$ prodotti-dettaglio.php?lingua=$1&id_prodotto=$2
RewriteRule ^([^/]+)/aggiorna-carrello.html$ aggiorna-carrello.php?lingua=$1
RewriteRule ^([^/]+)/carrello.html$ carrello.php?lingua=$1
RewriteRule ^([^/]+)/normativa-privacy-sekurbox.html$ normativa-privacy.php?lingua=$1
RewriteRule ^([^/]+)/cancella_prodotto.html$ cancella_prodotto.php?lingua=$1
RewriteRule ^([^/]+)/contatti.html$ contatti.php?lingua=$1
RewriteRule ^([^/]+)/richiedi-preventivo.html$ preventivo.php?lingua=$1
RewriteRule ^([^/]+)/cassa-step-1.html$ cassa-step-1.php?lingua=$1
RewriteRule ^([^/]+)/cassa-step-2.html$ cassa-step-2.php?lingua=$1
RewriteRule ^([^/]+)/cassa-step-2b.html$ cassa-step-2b.php?lingua=$1
RewriteRule ^([^/]+)/cassa-step-3.html$ cassa-step-3.php?lingua=$1
RewriteRule ^([^/]+)/cassa-step-4.html$ cassa-step-4.php?lingua=$1
RewriteRule ^([^/]+)/recupera-password.html$ recupera-password.php?lingua=$1
RewriteRule ^([^/]+)/registrati.html$ registrati.php?lingua=$1
RewriteRule ^([^/]+)/registrazione-confermata.html$ registrazione-confermata.php?lingua=$1
RewriteRule ^([^/]+)/guida-acquisto.html$ guida-acquisto.php?lingua=$1
RewriteRule ^([^/]+)/diritto-di-recesso.html$ diritto-di-recesso.php?lingua=$1
RewriteRule ^([^/]+)/condizioni-di-vendita.html$ condizioni-di-vendita.php?lingua=$1
RewriteRule ^([^/]+)/note-legali.html$ note-legali.php?lingua=$1
RewriteRule ^([^/]+)/iscriviti-alla-newsletter.html$ iscriviti-alla-newsletter.php?lingua=$1
RewriteRule ^([^/]+)/login.html$ login.php?lingua=$1
RewriteRule ^([^/]+)/area-riservata.html$ area-riservata.php?lingua=$1
RewriteRule ^([^/]+)/logout.html$ logout.php?lingua=$1
RewriteRule ^([^/]+)/modifica-dati.html$ modifica-dati.php?lingua=$1
RewriteRule ^([^/]+)/ordini.html$ ordini.php?lingua=$1
RewriteRule ^([^/]+)/dettaglio-ordine-([0-9]+).html$ dettaglio_ordine.php?lingua=$1&id_ordine=$2
RewriteRule ^([^/]+)/conferma_ordine_([0-9]+).html$ conferma_ordine.php?lingua=$1&id_ordine=$2
RewriteRule ^([^/]+)/salva-preventivo.html$ salva-preventivo.php?lingua=$1
RewriteRule ^([^/]+)/preventivi.html$ preventivi.php?lingua=$1
RewriteRule ^([^/]+)/dettaglio-preventivo-([0-9]+).html$ dettaglio-preventivo.php?lingua=$1&id_preventivo=$2










