/* CSS Document */
@font-face {
font-family: 'latolight';
src: url('../font/lato-light-webfont.eot');
src: url('../font/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../font/lato-light-webfont.woff2') format('woff2'),
	 url('../font/lato-light-webfont.woff') format('woff'),
	 url('../font/lato-light-webfont.ttf') format('truetype'),
	 url('../font/lato-light-webfont.svg#latolight') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'latoitalic';
src: url('../font/lato-italic-webfont.eot');
src: url('../font/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../font/lato-italic-webfont.woff2') format('woff2'),
	 url('../font/lato-italic-webfont.woff') format('woff'),
	 url('../font/lato-italic-webfont.ttf') format('truetype'),
	 url('../font/lato-italic-webfont.svg#latoitalic') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'latoregular';
src: url('../font/lato-regular-webfont.eot');
src: url('../font/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../font/lato-regular-webfont.woff2') format('woff2'),
	 url('../font/lato-regular-webfont.woff') format('woff'),
	 url('../font/lato-regular-webfont.ttf') format('truetype'),
	 url('../font/lato-regular-webfont.svg#latoregular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'latobold';
src: url('../font/lato-bold-webfont.eot');
src: url('../font/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../font/lato-bold-webfont.woff2') format('woff2'),
	 url('../font/lato-bold-webfont.woff') format('woff'),
	 url('../font/lato-bold-webfont.ttf') format('truetype'),
	 url('../font/lato-bold-webfont.svg#latobold') format('svg');
font-weight: normal;
font-style: normal;
}
body 
{
margin:0px;
background:url("../images/bg1.png") repeat;
font-family:Helvetica, Arial, sans-serif;
}
img
{
border:none;
text-decoration:none;
}
#contenuto 
{   
margin:0 auto;
width:1200px;
background:#FFF;
}
#contenuto2 
{   
float:left;
width:1200px;
height:auto;
background:#FFF;
}
/* TOP 100% */
#top
{
width:1200px;
float:left;
height:40px;
}
#top_sn
{
width:750px;
float:left;
margin-left:10px;
}
#top_ds
{
width:410px;
float:left;
}
/*MENU TOP 100% */
#box_lingua
{
width:145px;
height:22px;
float:left;
margin:10px 20px 0 0;
border-right:1px solid #d6d4e5;
cursor:pointer;
}
#open_box_lingua
{
width:125px;
height:auto;
float:left;
margin:8px 20px 0 0;
background:#FFF;
position:relative;
z-index:102;
padding-bottom:10px;
}
.lingua
{
width:145px;
height:12px;
float:left;
}
.bandiera
{
width:20px;
height:12px;
float:left;
margin:0 5px 0 0;
}
.lingua_voce
{
width:120px;
height:12px;
float:left;
font: 12px 'latoregular', Helvetica, sans-serif;
color:#00989d;
margin:1px 0 0 0;
}
.lingua_voce a
{
text-decoration:none;
font: 12px 'latoregular', Helvetica, sans-serif;
color:#00989d;
}

.top_ds_img
{
width:22px;
height:22px;
float:left;
margin:7px 5px 0 5px;
}
.top_ds_link
{
width:auto;
height:24px;
float:left;
margin:11px 10px 0 0;
font: 12px 'latoregular', Helvetica, sans-serif;
color:#00989d;
}
.top_ds_link a
{
font: 14px 'latoregular', Helvetica, sans-serif;
color:#00989d;
text-decoration:none;
}
#social 
{		
width:200px;
height:30px;
float:left;
margin:25px 0 0 50px;
}
#social img
{		
float:left;
margin-left:1px;
}
.seguici
{
float:left;
margin:8px 5px 0 0;
font: 14px 'latoitalic', Helvetica, sans-serif;
color:#00989d;
}
.img_social
{
width:22px;
height:22px;
float:left;
margin:7px 3px 0 0;
}
#continua_top 
{
width:140px;
height:20px;
float:right;
margin:8px 20px 0 0;
text-align:right;
}
#continua_top a 
{
font: 13px 'latoregular', Helvetica, sans-serif;
color:#00989d;
}
/*CART SOPRA */
#cart 
{
width:110px;
height:35px;
float:left;
background:url("../images/cart.png") no-repeat;
margin:5px 0 0 0;
}
#testo_cart
{
font: 16px 'latoitalic', Helvetica, sans-serif;
color:#00989d;
text-decoration:none;
width:auto;
height:25px;
margin:14px 0 0 127px;
float:left;
width:170px;
text-align:right;
}
.numero_cart
{
font: 17px 'latobold', Helvetica, sans-serif;
color:#00989d;
text-decoration:none;
width:25px;
height:25px;
margin:9px 0 0 44px;
text-align:center;
cursor:pointer;
}
#cart_open 
{
width:700px;
height:auto;
padding-bottom:10px;
float:left;
background:#FFF;
margin:5px 0 0 -557px;
position:relative;
z-index:102;
-moz-box-shadow:4px 4px 2px #c1c1c1;
-webkit-box-shadow:4px 4px 2px #c1c1c1;
box-shadow:4px 4px 2px #c1c1c1;
}
.intesta_table_cart
{
width:660px;
height:20px;
float:left;
background:#04979d;
color:#FFF;
margin:5px 0 0 20px;
font: 13px 'latobold', Helvetica, sans-serif;
padding:5px;
text-align:center;
}
.intesta_table_cart_prodotto
{
width:360px;
height:20px;
float:left;
}
.intesta_table_cart_prezzo
{
width:100px;
height:20px;
float:left;
}
.intesta_table_cart_sconto
{
width:85px;
height:20px;
float:left;
}
.intesta_table_cart_totale
{
width:100px;
height:20px;
float:left;
}
.intesta_table_cart_delete
{
width:15px;
height:20px;
float:left;
}
.cart_open_prodotto_box
{
width:660px;
height:50px;
float:left;
margin:5px 0 0 20px;
text-align:center;
font: 14px 'latoregular', Helvetica, sans-serif;
color:#666666;	
}
.cart_open_prodotto
{
width:360px;
height:50px;
float:left;
}
.cart_open_prodotto_img
{
width:40px;
height:50px;
float:left;
}
.cart_open_prodotto_titolo
{
width:300px;
height:50px;
float:left;
margin-left:10px;
}
.cart_open_prodotto_titolo a
{
font: 14px 'latoregular', Helvetica, sans-serif;
color:#666666;
text-decoration:none;	
}
.cart_open_prodotto_sconto
{
width:85px;
height:50px;
float:left;
}
.cart_open_prodotto_delete
{
width:15px;
height:30px;
float:left;
margin-top:3px;
}
.cart_open_prodotto_prezzo
{
width:100px;
height:50px;
float:left;
}
.cart_open_prodotto_totale
{
width:100px;
height:50px;
float:left;
}
#total_cart
{
width:660px;
height:auto;
float:left;
background:#f2f2f2;
color:#666666;
margin:5px 0 0 20px;
padding:7px;
}
.total_cart_sn
{
width:330px;
height:30px;
float:left;
text-align:right;
font: 18px 'latobold', Helvetica, sans-serif;
}
.total_cart_ds
{
width:310px;
height:30px;
float:left;
text-align:right;
margin-right:10px;
font: 18px 'latobold', Helvetica, sans-serif;
}
.total_cart_sn_sconto
{
width:330px;
height:30px;
float:left;
text-align:right;
font: 16px 'latoitalic', Helvetica, sans-serif;
}
.total_cart_ds_sconto
{
width:310px;
height:30px;
float:left;
text-align:right;
margin-right:10px;
font: 16px 'latoitalic', Helvetica, sans-serif;
}
#total_cart_action
{
width:675px;
height:40px;
float:left;
color:#00989d;
margin:20px 0 0 20px;
font: 18px 'latoitalic', Helvetica, sans-serif;
}
#total_cart_action_sn
{
width:330px;
height:40px;
float:left;
text-align:left;
}
#total_cart_action_ds
{
width:340px;
height:40px;
float:right;
text-align:right;
}
#continua_lo_shopping
{
width:auto;
height:auto;
float:left;
background:#ff6e11;
padding:7px;
}
#continua_lo_shopping a
{
font: 18px 'latobold', Helvetica, sans-serif !important;
color:#FFF !important;
text-decoration:none;
}
.vai_alla_cassa
{
width:auto;
height:auto;
float:right;
background:#d72c38;
padding:7px;
margin-left:10px;
}
.vai_alla_cassa a
{
font: 18px 'latobold', Helvetica, sans-serif !important;
color:#FFF !important;
text-decoration:none;
}
/*FINE CART SOPRA */
#top_sinistra
{
float:left;
width:50%;
height:25px;
}
#top_sinistra ul
{
list-style:none;
margin:0 0 0 5px;
padding:0;
float:left;
}
#top_sinistra li
{
display:block;
float:left;
}
#top_sinistra li span
{
display:inline;
}
#top_sinistra li a:link, div#top_sinistra li a:visited, div#top_sinistra li a:active
{
display:block;
font-size:12px;
color:#0082C8;
text-decoration:none;
line-height:20px;
padding:5px 7px;
height:20px;
float:left;
border-right:1px #0b6495 solid;
}
#top_destra
{
float:left;
width:50%;
height:30px;
}
#top_destra ul
{
list-style:none;
margin:0 10px 0 5px;
padding:0;
float:right;
}
#top_destra li
{
display:block;
float:left;
font: 13px 'latoregular', Arial, serif;
color:#666;
line-height:20px;
padding:2px 3px;
height:23px;
float:left;
margin-left:2px;
}
#top_destra li span
{
display:inline;
}
#top_destra li a:link, #top_destra li a:visited, #top_destra li a:active
{
display:block;
font: 13px 'latoregular', Arial, serif;
color:#0082C8;
text-decoration:none;
line-height:20px;
padding:2px 0;
height:28px;
float:left;
margin-left:2px;
}
#top_destra li.utente
{
color:#666;
float:left;
margin-top:3px;
}
#testata
{
float:left;
width:100%;
height:70px;
background:#FFF;
}
#logo
{
float:left;
width:250px;
height:70px;
margin-left:20px;
}
#boxMenuOrizzontale 
{		
width:620px;
height:30px;
float:left;
margin:25px 0 0 30px;
}
#boxMenuOrizzontale ul
{
list-style:none;
margin:0px;
padding:0;
float:left;
}
#boxMenuOrizzontale li
{
display:block;
float:left;
}
#boxMenuOrizzontale li span
{
display:inline;
}
#boxMenuOrizzontale li a:link, #boxMenuOrizzontale li a:visited, #boxMenuOrizzontale li a:active
{
display:block;
font: 14px 'latoregular', Arial, serif;
color:#666666;
text-decoration:none;
line-height:30px;
padding:0 8px;
height:30px;
float:left;
text-transform:uppercase;
font-weight:bold;
border-left:1px dotted #CCCCCC;
}
#boxMenuOrizzontale li a:hover
{
color:#FFF;
background-color:#00989d;
}
.row
{
width:100%;
height:auto;
float:left;
margin-top:20px;
}
.row_content
{
width:100%;
height:auto;
float:left;
background:#FFF;
padding-bottom:20px;
}
.row_top
{
width:100%;
height:auto;
float:left;
}						
#titolo_pagina
{
width:1200px;
height:60px;
background:url("../images/briciole.png") repeat-x;
float:left;
margin-bottom:10px;
  border-top: 1px dotted #CCCCCC;
}
#titolo_pagina_sn
{
width:720px;
height:60px;
float:left;	
}
#titolo_pagina_ds
{
width:480px;
height:60px;
float:left;	
}
#stile_titolo_pagina
{
width:700px;
height:30px;
float:left;
font: 20px 'latobold', Arial, serif;
color:#666666;
text-transform:uppercase;
margin:10px 0 0 20px;
}
#briciole_di_pane
{
width:700px;
height:30px;
float:left;
font: 12px 'latoregular', Arial, serif;
color:#666666;
margin:0 0 0 20px;
}
#briciole_di_pane a
{
color:#666666;
}
#colonna_sn
{
width:260px;
min-height:500px;
float:left;
padding:20px;
margin-right:20px;
}
#colonna_sn_area_riservata
{
width:100px;
min-height:500px;
float:left;
padding:20px;
margin-right:20px;
}
.titolo_menu_laterale
{
width:280px;
font: 14px 'latobold', Arial, serif;
color:#666666;
text-transform:uppercase;
float:left;
margin-top:0;
}
.titolo_menu_laterale a:link, .titolo_menu_laterale a:visited
{
color:#666666;
text-decoration:none;
}
.titolo_menu_laterale a:active
{
color:#0082C8;
}
.menu_laterale 
{
margin:5px 0 5px 0;	
padding:0;
list-style:none;
font: 14px 'latoregular', Arial, serif;
color:#666666;
float:left;
width:300px;
display:none;
}
.menu_laterale li 
{
padding:0 0 3px 15px;
background:url("../images/puntatore_li.gif") no-repeat scroll 0 2px transparent;
}
.menu_laterale li a:link, .menu_laterale li a:visited
{
color:#666666;
text-decoration:none;
}
.menu_laterale li.evidenzia
{
color:#00989d;
background:url("../images/list-evidenzia.gif") no-repeat scroll 0 7px transparent;
}
#colonna_sn form
{
width:100%;
float:left;
}
#colonna_sn label
{
width:100%;
float:left;
font: 14px 'latoregular', Arial, serif;
color:#666666;
margin:5px 0 0 0;
}
#colonna_sn input
{
float:left;
}
#colonna_sn input[type="text"]
{
width:92%;
float:left;
font: 14px 'latoregular', Arial, serif;
color:#666666;
border: 1px solid #ccc;
height:30px;	
}
#colonna_sn select
{
width:92%;
float:left;	
padding:9px;
margin: 0;
color:#666666;
border:none;
outline:none;
display: inline-block;
-webkit-appearance:none; 
cursor:pointer;
border: 1px solid #ccc;
font: 14px 'latoregular', Arial, serif;
}
.greenButton{
width:auto;
margin:10px 0 0 2px;
padding:3px 4px 3px 4px;
color:#FFF;
background-color:#0082C8;
outline:none;
border:1px solid #0082C8;
font: 14px 'latoregular', Arial, serif;
text-transform:uppercase;
}
.greenButton:active
{
background-color:#0082C8;
padding:4px 3px 2px 5px;
color:#FFF;	
}
#cerca
{
width:100%;
margin-bottom:20px;
float:left;
}
#cerca p
{
font: 11px 'latoregular', Arial, serif;
color:#666666;
}
#cerca input[type="text"]
{
display:inline;
width:180px;
height:20px;
}
.cerca{
width:auto;
margin:0 0 0 2px;
padding:2px 4px 0 4px;
color:#FFF;
background-color:#04979d;
outline:none;
border:1px solid #04979d;
font: 17px 'latoregular', Arial, serif;
text-transform:uppercase;
display:inline;
}
#colonna_ds
{
width:850px;
min-height:500px;
float:left;
}
#colonna_ds_det
{
width:850px;
min-height:500px;
float:left;
border-left:2px dotted #CCCCCC;
padding-left:20px;
}
#colonna_ds h1
{
font: 24px 'latobold', Arial, serif;
color:#666666;
float:left;
width:100%;
}
#colonna_ds h2
{
font: 18px 'latobold', Arial, serif;
color:#666666;
float:left;
width:100%;
}
#colonna_ds h3
{
font: 16px 'latobold', Arial, serif;
color:#666666;
float:left;
width:100%;
}
.menu_interno 
{
margin:0 0 0 20px;	
padding:0;
list-style:disc;
font: 16px 'latoregular', Arial, serif;
color:#666666;
float:left;
width:98%;
text-align:justify;
line-height:180%;
}
.menu_laterale li 
{
margin-bottom:5px;
}
#colonna_ds_det h2
{
font: 18px 'latobold', Arial, serif;
color:#666666;
float:left;
width:100%;
}
#colonna_ds p
{
font: 16px 'latoregular', Arial, serif;
color:#666666;
text-align:justify;
line-height:180%;
}
#colonna_ds_det p
{
font: 14px 'latoregular', Arial, serif;
color:#666666;
text-align:justify;
line-height:180%;
}
.striscia_prodotto
{
width:870px;
height:140px;
float:left;
border:1px #d9d9d9 solid;
margin-bottom:10px;
padding:10px 0 10px 0;
}
.foto_striscia_prodotto
{
width:140px;
height:auto;
float:left;
overflow:hidden;
margin:0 10px 0 10px;
}
.info_striscia_prodotto
{
width:550px;
height:100px;
float:left;
}
.cod_striscia_prodotto
{
width:550px;
height:30px;
float:left;
}
.cod_striscia_prodotto_stile
{
width:auto;
height:auto;
font: 14px 'latoregular', Arial, serif;
color:#666666;
padding:2px 5px 2px 2px;
}
.disponibilita_rosso
{
width:auto;
height:auto;
font: 14px 'latoregular', Arial, serif;
color:#fe0000;
padding:2px 5px 2px 2px;
}
.disponibilita_arancio
{
width:auto;
height:auto;
font: 14px 'latoregular', Arial, serif;
color:#e0b403;
padding:2px 5px 2px 2px;
}
.disponibilita_verde
{
width:auto;
height:auto;
font: 14px 'latoregular', Arial, serif;
color:#4ec104;
padding:2px 5px 2px 2px;
}
.titolo_striscia_prodotto
{
width:550px;
height:auto;
float:left;
font: 16px 'latobold', Arial, serif;
color:#666666;
}
.intro_striscia_prodotto
{
width:550px;
height:50px;
float:left;
font: 14px 'latoregular', Arial, serif;
color:#666666;
}
.intro_striscia_prodotto a
{
color:#0082C8;
}
.dettaglio_striscia_prodotto
{
width:150px;
height:100px;
float:left;
margin-left:10px;
}
.dettaglio_striscia_prodotto_prezzo_sbarrato
{
width:150px;
height:20px;
float:left;
}
.prezzo_stile
{
color:#999999;
font: 12px 'latoregular', Arial, serif;
}
.prezzo_sbarrato
{
color:#00979e;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
text-decoration: line-through;
font-weight:bold;
}
.dettaglio_striscia_prodotto_offerta
{
width:150px;
height:20px;
float:left;
text-transform:uppercase;
}
.offerta_stile
{
color:#ff6e11;
font: 16px 'latobold', Arial, serif;
text-transform:uppercase;
}
.dettaglio_striscia_prodotto_prezzo
{
width:150px;
height:25px;
float:left;
}
.prezzo_normale
{
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#00979e;
font-weight:bold;
}
.dettaglio_striscia_prodotto_risparmi
{
width:150px;
height:25px;
float:left;
}
.dettaglio_striscia_prodotto_risparmi_icona
{
width:30px;
height:20px;
float:left;
}
.dettaglio_striscia_prodotto_risparmi_scritta
{
width:100px;
height:15px;
float:left;
padding-top:5px;
}
.risparmi_il
{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#00979e;
font-weight:bold;
}
.dettaglio_striscia_prodotto_dett
{
width:150px;
height:25px;
float:left;
margin-top:20px;
}
.recensioni_box
{
width:100px;
height:50px;
float:left;
margin:0 5px 5px 5px;
text-align:center;
}
.stelle
{
width:100px;
height:20px;
float:left;
}
.action_acquista
{
width:310px;
height:30px;
float:left;
margin:0 5px 5px 5px;
}
.action_acquista_sn
{
width:90px;
height:30px;
float:left;
margin:0 0 0 5px;
}
.action_acquista_ds
{
width:200px;
height:25px;
float:left;
text-align:left;
margin:3px 0 0 5px;
}
.quantity-widget
{
width:auto;
height:27px;
float:left;
margin-top:3px;
}
.box_qty
{
width:20px;
height:18px;
float:left;
margin:0 5px 0 5px;
font: 14px 'latobold', Arial, serif;
color:#666666;
}
.less{
width:25px;
height:23px;
text-align:center;
color:#FFF;
background-color:#008e92;
outline:none;
font: 20px 'latobold', Arial, serif;
float:left;
border-radius: 50%;
cursor:pointer;
padding-top:2px;
}
.more{
width:25px;
height:22px;
text-align:center;
padding:2px 0 0 0;
color:#FFF;
background-color:#008e92;
outline:none;
font: 20px 'latobold', Arial, serif;
float:left;
border-radius: 50%;
cursor:pointer;
}
.input_stile{
width:auto;
padding:3px 2px 1px 2px;
color:#FFF;
background-color:#ff6e11;
outline:none;
border:1px solid #ff6e11;
font: 16px 'latobold', Arial, serif;
text-transform:uppercase;
}
.input_stile:active{
background-color:#ff6e11;
padding:1px 2px 1px 2px;
}
.non_disponibile
{
width:300px;
height:20px;
float:left;
position: relative;
z-index: 4;
margin:5px 0 0 0;
font: 12px 'latoregular', Arial, serif;
color:#666666;
}
.striscia_contatti
{
width:620px;
height:50px;
float:left;
font: 14px 'latoregular', Arial, serif;
color:#666666;
}
.striscia_contatti a
{
color:#0082C8;
}
.prodotto_dettaglio
{
width:850px;
height:auto;
float:left;
}
.prodotto_dettaglio h1 
{
width:824px;
height:auto;
float:left;
margin-bottom:10px;
font: 24px 'latobold', Arial, serif !important;
color:#666666 !important;
}
.prodotto_box_img
{
width:415px;
height:330px;
float:left;
margin:0 10px 10px 0;
}
#prodotto_box_img_foto
{
width:415px;
height:292px;
min-height:290px;
float:left;
text-align:center;
overflow:hidden;
margin-top:10px;
}
#info_prodotto
{
width:415px;
height:39px;
background: url("../images/info_prodotto.gif") no-repeat scroll left top transparent;
float:left;
}
.info_prodotto_meta
{
width:207px;
height:39px;
float:left;
}
.info_prodotto_codice_voce
{
font: 14px 'latoregular', Arial, serif;
color:#FFF;
float:left;
margin:10px 0 0 5px;
text-transform:uppercase;
width:50px;
}
.info_prodotto_codice
{
font: 16px 'latobold', Arial, serif;
color:#666666;
float:left;
margin:9px 0 0 24px;
text-transform:uppercase;
}
.info_prodotto_codice a
{
font: 12px 'latobold', Arial, serif;
color:#0082C8;
float:left;
}
/* BOX CARRELLO DETTAGLIO */
.prodotto_dettaglio_info
{
width:415px;
height:330px;
float:left;
margin-bottom:10px;
}
.prezzo_stile_det
{
color:#999999;
font: 14px 'latoregular', Arial, serif;
}
.disponibilita_rosso_det
{
width:auto;
height:auto;
font: 18px 'latoregular', Arial, serif;
color:#fe0000;
padding:2px 5px 2px 2px;
}
.disponibilita_arancio_det
{
width:auto;
height:auto;
font: 18px 'latoregular', Arial, serif;
color:#e0b403;
padding:2px 5px 2px 2px;
}
.disponibilita_verde_det
{
width:auto;
height:auto;
font: 18px 'latoregular', Arial, serif;
color:#4ec104;
padding:2px 5px 2px 2px;
}
.dettaglio_striscia_prodotto_det
{
width:250px;
float:left;
}
.dettaglio_striscia_prodotto_prezzo_sbarrato_det
{
width:415px;
height:40px;
float:left;
}
.prezzo_sbarrato_det
{
color:#00979e;
font-size:18px;
font-family:Arial, Helvetica, sans-serif;
text-decoration: line-through;
font-weight:bold;
}
.dettaglio_striscia_prodotto_offerta_det
{
width:415px;
height:20px;
float:left;
text-transform:uppercase;
}
.offerta_stile_det
{
width:415px;	
color:#ff6e11;
font: 20px 'latobold', Arial, serif;
text-transform:uppercase;
}
.dettaglio_striscia_prodotto_prezzo_det
{
width:415px;
height:25px;
float:left;
}
.prezzo_normale_det
{
font-family:Arial, Helvetica, sans-serif;
font-size:25px;
color:#00979e;
font-weight:bold;
}
.dettaglio_striscia_prodotto_risparmi_det
{
width:415px;
height:30px;
float:left;
margin-top:5px
}
.dettaglio_striscia_prodotto_risparmi_icona_det
{
width:30px;
height:30px;
float:left;
padding-top:10px;
}
.dettaglio_striscia_prodotto_risparmi_scritta_det
{
width:300px;
height:30px;
float:left;
padding-top:10px;
}
.risparmi_il_det
{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#00979e;
font-weight:bold;
}
.prodotto_dettaglio_info_disponibilita
{
width:415px;
height:20px;
float:left;
margin-bottom:10px;
}
.prodotto_dettaglio_info_recensioni
{
width:415px;
height:20px;
float:left;
margin-bottom:10px;
}
.prodotto_dettaglio_info_prezzo
{
width:415px;
float:left;
margin-bottom:10px;
}
.prodotto_dettaglio_acquista
{
width:415px;
float:left;
margin-top:40px;
}
/* FINE BOX CARRELLO DETTAGLIO */
.prodotto_box_img_correlati
{
width:415px;
height:330px;
float:left;
border:1px #d9d9d9 solid;
margin-bottom:10px;
}
#testata_prodotto_box_img_correlati
{
width:415px;
height:39px;
background: url("../images/prodotti_correlati.gif") no-repeat scroll left top transparent;
float:left;
}
.titolo_prodotto_box_img_correlati
{
font: 16px 'latoregular', Arial, serif;
color:#666666;
float:left;
margin:9px 0 0 80px;
text-transform:uppercase;
}
#prodotto_box_img_correlati_spazio
{
width:415px;
height:290px;
float:left;
border:1px #d9d9d9 solid;
margin-bottom:10px;
overflow-y:scroll;
overflow-x:hidden;
}
.prodotto_correlato
{
width:400px;
height:50px;
float:left;
margin:10px 0 0 10px;
}
.prodotto_correlato_ds
{
width:300px;
height:50px;
float:left;
margin:10px 0 0 10px;
}
.foto_prodotto_correlato
{
width:75px;
height:50px;
float:left;
margin-right:5px;
}
.titolo_prodotto_correlato
{
width:285px;
height:50px;
float:left;
font: 13px 'latoregular', Arial, serif;
color:#666666;
margin:5px 0 0 5px;
}
.titolo_prodotto_correlato a
{
font: 13px 'latoregular', Arial, serif;
color:#666666;
text-decoration:none;
}
.titolo_prodotto_correlato_ds
{
width:200px;
height:50px;
float:left;
font: 13px 'latoregular', Arial, serif;
color:#666666;
margin:5px 0 0 5px;
}
.titolo_prodotto_correlato_ds a
{
font: 13px 'latoregular', Arial, serif;
color:#666666;
text-decoration:none;
}
.prodotto_richiedi_info a
{
font: 14px 'latoregular', Arial, serif;
color:#F00;
}
.colonna_sn_meta
{
width:600px;
height:140px;
float:left;
}
.colonna_sn_meta p
{
width:540px;
height:200px;
margin: 3px 0 0 20px;
float:left;
font: 14px 'latoregular', Arial, serif;
color:#666666;
text-align:justify;
line-height:180%;
}
.colonna_ds_meta
{
width:600px;
height:140px;
float:left;
background: url("../images/bg-call.png") no-repeat scroll right top #0082C8;
}
.flex
{
max-width: 100%;
}

.titolo_menu_laterale_case
{
font: 18px 'latobold', Arial, serif;
color:#666666;
text-transform:uppercase;
float:left;
}
.titolo_menu_laterale_case a:link, .titolo_menu_laterale_case a:visited
{
color:#666666;
text-decoration:none;
}
.titolo_menu_laterale_case a:active
{
color:#0082C8;
}
.menu_laterale_case 
{
margin-top:2px;	
padding:0;
list-style:none;
font: 18px 'latoregular', Arial, serif;
color:#666666;
float:left;
width:300px;
}
.menu_laterale_area_riservata 
{
margin-top:2px;	
padding:0;
list-style:none;
font: 18px 'latoregular', Arial, serif;
color:#666666;
float:left;
width:100px;
}
.menu_laterale_case li 
{
padding:0 10px 7px 15px;
background:url("../images/puntatore_li.gif") no-repeat scroll 0 4px transparent;
}
.menu_laterale_case li a:link, .menu_laterale_case li a:visited
{
color:#666666;
text-decoration:none;
}
.menu_laterale_case li.evidenzia
{
color:#00989d;
background:url("../images/list-evidenzia.gif") no-repeat scroll 0 4px transparent;
}
#footer
{
width:1200px;
height:auto;
float:left;
border-top: 1px dotted #cccccc;
background: #ffffff; 
/* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
}
.box_footer
{
width:360px;
float:left;
color:#666666;
font-size:12px;
margin:0 0 0 30px;
}
.legale
{
width:358px;
font: 14px 'latoregular', Helvetica, sans-serif;
color:#666666;
float:left;
line-height:150%;
margin:20px 0 10px 0;
}
.titolo_footer
{
width:250px;
font: 18px 'latobold', Helvetica, sans-serif;
text-transform:uppercase;
color:#666666;
float:left;
height:10px;
}
.footer_lista
{
padding:0;
list-style:none;
color:#666666;
float:left;
width:290px;
font: 13px 'latoregular', Helvetica, sans-serif;
margin:0 0 10px 15px;
height:auto;
}
.footer_lista li 
{
padding:10px 10px 2px 15px;
background:url("../images/puntatore.png") no-repeat scroll 0 12px transparent;
}
.footer_lista li a
{
text-decoration:none;
color:#666666;
}
#spedito
{
width:300px;
height:22px;
font: 16px 'latoitalic', Helvetica, sans-serif;
color:#00989e;
float:left;
margin-top:20px;
}
#credits
{
width:300px;
height:22px;
font: 14px 'latoitalic', Helvetica, sans-serif;
color:#666666;
float:left;
margin-top:15px;
}
#credits a
{
font: 14px 'latolight', Helvetica, sans-serif;
color:#666666;
text-decoration:none;
}
.legal
{
width:1200px;
height:20px;
float:left;
background:#FFF;
font: 13px 'latolight', Helvetica, sans-serif;
color:#666666;
padding:10px 0 0 0;
text-align:center;
}
.carte_di_credito
{
width:1100px;
/*height:30px;*/
float:left;
background:#FFF;
border-top: 1px dotted #cccccc;
font: 14px 'latolight', Helvetica, sans-serif;
color:#666666;
padding:5px 50px 10px 50px;
}
#carte_di_credito_stile
{
width:auto;
height:18px;
float:left;
margin:14px 10px 10px 10px;
}
#carte_di_credito_img
{
width:auto;
height:34px;	
margin-top:10px;
}
/*CASSA */

#cassa_step_1_colonna_sn
{
width:700px;
height:auto;
float:left;
margin:20px 50px 20px 50px;
}
#cassa_step_1_colonna_ds
{
width:350px;
height:auto;
float:left;
margin-top:20px;
}
.intesta_table_cassa_step_1
{
width:100%;
height:35px;
float:left;
background:#00989d;
color:#FFF;
margin:5px 0 0 0;
font: 18px 'latobold', Helvetica, sans-serif;
padding-top:15px;
text-align:center;
}
.content_cassa_step_1_sn
{
width:100%;
height:250px;
float:left;
background:#f3f4f6;
text-align:center;
}
.content_cassa_step_1_ds
{
width:100%;
height:220px;
float:left;
background:#f3f4f6;
text-align:center;
}
.content_cassa_step_1_testo
{
font: 16px 'latoregular', Helvetica, sans-serif;	
color:#00989d;
width:100%;
height:40px;
float:left;
letter-spacing:1px;
}
.content_cassa_step_1_action
{
width:100%;
height:60px;
float:left;
margin-top:80px;	
}
#continua a
{
width:auto;
height:auto;
background:#d72c38;
font: 25px 'latobold', Helvetica, sans-serif;
padding:7px 7px 5px 7px;
color:#FFF;
text-decoration:none;
text-transform:uppercase;
}
.content_cassa_step_1_ds label
{
width:100%;
height:20px;
float:left;
font: 16px 'latobold', Helvetica, sans-serif;
color:#666666;
margin-top:10px;
}
.content_cassa_step_1_ds input[type=text]
{
width:80%;
height:20px;
color:#666666;
}
.content_cassa_step_1_ds input[type=password]
{
width:80%;
height:20px;
color:#666666;
}
.content_cassa_step_1_pwd_dimenticata
{
width:100%;
height:10px;
float:left;
margin-top:5px;
}
.content_cassa_step_1_pwd_dimenticata a
{
font: 11px 'latoregular', Helvetica, sans-serif;
color:#00989d;
}
.content_cassa_step_1_entra
{
width:100%;
height:30px;
float:left;
margin-top:20px;	
}
.entra{
width:auto;
padding:7px 7px 5px 7px;
color:#FFF;
background-color:#ff6e11;
outline:none;
border:1px solid #ff6e11;
font-weight:bold;
font: 18px 'latobold', Arial, serif;
text-transform:uppercase;
}
.entra:active{
background-color:#ff6e11;
padding:7px 7px 5px 7px;
}
.content_cassa_step_1_sn_sotto
{
width:100%;
height:30px;
float:left;
background:#FFF;
text-align:center;
margin-top:15px;
padding-top:5px;
font: 14px 'latoregular', Helvetica, sans-serif;
color:#00989d;	
}
.content_cassa_step_1_sn_sotto a
{
font: 14px 'latobold', Helvetica, sans-serif;	
color:#00989d;
}
.box_step_cassa
{
width:1100px;
height:40px;
text-align:center;
float:left;
margin:20px 0 0 20px;
}
.box_step_cassa_acceso
{
width:365px;
height:30px;
float:left;
background:url("../images/step_accesso.png") no-repeat;
padding-top:10px;
font: 14px 'latobold', Helvetica, sans-serif;	
color:#FFF;
}
.box_step_cassa_spento
{
width:365px;
height:30px;
float:left;
padding-top:10px;
font: 14px 'latobold', Helvetica, sans-serif;	
color:#00989d;
opacity:0.4;
}
#colonna_sn_form
{
width:860px;
height:auto;
float:left;
margin:20px 50px 20px 20px;
background:#f3f4f6;
}
.form
{
width:860px;
height:auto;
float:left;
padding-bottom:20px;
margin-bottom:10px;
background:#f3f4f6;
}
.form_row
{
width:95%;
height:auto;
float:left;
font: 14px 'latoregular', Helvetica, sans-serif;	
color:#666666;
margin:5px 0 0 20px;
}
.form_row_mezzo
{
width:355px;
height:auto;
float:left;
font: 14px 'latoregular', Helvetica, sans-serif;	
color:#666666;
margin:5px 0 0 0px;
}
.form_row_piccolo
{
width:30px;
height:auto;
float:left;
font: 14px 'latoregular', Helvetica, sans-serif;	
color:#666666;
margin:5px 0 0 0px;
}
.form_row_grande
{
width:690px;
height:auto;
float:left;
font: 14px 'latoregular', Helvetica, sans-serif;	
color:#666666;
margin:5px 0 0 0px;
}
.form_row_button
{
width:100%;
height:auto;
float:left;
margin:20px 0 0 20px;
}
.error
{
width:330px !important;
float:left !important;
color:#d72c38 !important;
}
.userpass_errata
{
color:#d72c38;
font: 12px 'latoregular', Helvetica, sans-serif;
float:left;
margin:5px 0 0 25px;	
text-align:center;
}
.form input[type=text]
{
width:330px;
height:30px;
color:#666666;
border: 1px solid #ccc;
}
.form input[type=password]
{
width:330px;
height:30px;
color:#666666;
border: 1px solid #ccc;
}
.form select
{
width:auto;
height:40px;
padding:9px;
color:#666666;
border:none;
outline:none;
display: inline-block;
-webkit-appearance:none; 
cursor:pointer;
border: 1px solid #ccc;
font: 14px 'latoregular', Helvetica, sans-serif;	
}
.form textarea
{
width:660px;
height:40px;
margin-bottom:10px;
color:#666666;
border: 1px solid #ccc;
}	
.stile_info_privacy
{
font: 12px 'latoregular', Helvetica, sans-serif;	
color:#666666;
}
.stile_info_privacy a
{
font: 12px 'latoregular', Helvetica, sans-serif;	
color:#00989d;
}
.stile_indirizzo_diverso
{
font: 16px 'latobold', Helvetica, sans-serif;	
color:#666666;
}	
.form_intestazione
{
width:850px;
height:30px;
float:left;
border-bottom:1px dotted #00989d;
font: 16px 'latobold', Helvetica, sans-serif;	
color:#FFF;
background:#00989d;
padding:15px 0 0 10px;
}
.dati_utente
{
padding:0;
list-style:none;
color:#00989d;
float:left;
width:290px;
font: 16px 'latoregular', Helvetica, sans-serif;
margin-left:15px;
height:auto;
}
.dati_utente li 
{
padding:10px 10px 2px 0;
border-bottom:1px #d6d4e5 dotted;
}
#carrello_ds_fix
{
width:360px;
height:auto;
float: left;
margin-top:20px;	
}
#carrello_ds
{
width:360px;
height:auto;
float: right;
}
.fixed {
position: fixed;
top: 0;
right:inherit;
z-index: 999;
}
#carrello_ds_intestazione
{
width:350px;
height:30px;
float:left;
border-bottom:1px dotted #00989d;
font: 14px 'latobold', Helvetica, sans-serif;	
color:#00989d;
padding:10px 0 0 10px;
background:#f3f4f6;
}
.carrello_ds_prodotto
{
width:360px;
height:50px;
float:left;
font: 14px 'latoregular', Helvetica, sans-serif;
color:#00989d;
margin-top:5px;	
}
.carrello_ds_prodotto_img
{
width:60px;	
height:50px;
float:left;
}
.carrello_ds_prodotto_titolo
{
width:225px;	
height:45px;
float:left;
margin:2px 5px 0 5px;
color:#666666;
}
.carrello_ds_prodotto_prezzo
{
width:50px;	
height:45px;
float:left;
margin-top:5px;
color:#666666;
}
#carrello_ds_totale
{
width:340px;
height:auto;
float:left;
border-bottom:1px dotted #00989d;
color:#00989d;
padding:10px;
margin-top:5px;	
background:#f3f4f6;
}
.carrello_ds_totale_sn
{
width:250px;
float:left;
font: 18px 'latobold', Helvetica, sans-serif;	
}
.carrello_ds_totale_ds
{
width:90px;
float:left;
text-align:right;
font: 18px 'latobold', Helvetica, sans-serif;	
}
.carrello_ds_totale_sn_sconto
{
width:210px;
float:left;
font: 14px 'latoitalic', Helvetica, sans-serif;	
margin-bottom:5px;
}
.carrello_ds_totale_ds_sconto
{
width:130px;
float:left;
text-align:right;
font: 14px 'latoitalic', Helvetica, sans-serif;	
margin-bottom:5px;
}
#carrello_ds_action
{
width:360px;
height:80px;
float:left;
/*border-bottom:1px dotted #00989d;*/
font: 18px 'latobold', Helvetica, sans-serif;	
color:#00989d;
text-align:center;
padding:40px 0 0 0;
/*background:#f3f4f6;*/
}
.continua_step{
width:auto;
padding:3px 3px 1px 3px;
color:#FFF;
background-color:#ff6e11;
outline:none;
border:1px solid #ff6e11;
font-weight:bold;
font-size:12px;
font: 24px 'latobold', Arial, serif;
text-transform:uppercase;
}
.continua_step:active{
background-color:#ff6e11;
padding:3px 3px 1px 3px;
}
.stile_pagamenti_spedizioni
{
font: 14px 'latoregular', Helvetica, sans-serif;	
color:#00989d;
}
/*FINE CASSA */
.stile_tabella
{
width:850px;
color:#666666;
font:14px 'latoregular', Helvetica, sans-serif;
text-align:center;
}
.stile_tabella a
{
color:#666666;
font:14px 'latoregular', Helvetica, sans-serif;
}		
.stile_tabella td
{
width:auto;
}
.stile_tabella tr.odd
{
background-color:#f3f3f3;
border-bottom:2px #e8e8e8 solid;
padding:5px;
height:40px;
}
.stile_tabella tr.agg
{
background-color:#9FF;
border-bottom:2px #e8e8e8 solid;
padding:5px;
height:40px;
}	
.stile_tabella tr.even
{
background-color:#FFF;
border-bottom:2px #e8e8e8 solid;
padding:5px;
height:40px;
}
.titolotabella
{
color:#FFF;
background:#00989d;
height:40px;
text-align:center;
}
.alert_rosso
{
font:14px 'latoregular', Helvetica, sans-serif;
color:#d72c38;
}
.alert_verde
{
font:14px 'latoregular', Helvetica, sans-serif;
color:#090;
}
/*CARRELLO */
#carrello
{
width:1100px;
height:auto;
float:left;
margin:0 0 0 50px;
}
#carrello p
{
font: 16px 'latoregular', Helvetica, sans-serif;
color:#666666;
width:1000px;
}
#carrello a
{
font: 16px 'latoregular', Helvetica, sans-serif;
color:#00989d;
}
.intestazione_tab_carrello
{
width:1100px;
height:30px;
float:left;
background:#00989d;
color:#FFF;
margin:5px 0 0 0;
font: 16px 'latobold', Helvetica, sans-serif;
padding-top:10px;
text-align:center;
}
.intestazione_tab_carrello_prodotto
{
width:555px;
height:30px;
float:left;
}
.intestazione_tab_carrello_prezzo
{
width:120px;
height:30px;
float:left;
}
.intestazione_tab_carrello_quantita
{
width:165px;
height:30px;
float:left;
}
.intestazione_tab_carrello_sconto
{
width:80px;
height:30px;
float:left;
}
.intestazione_tab_carrello_totale
{
width:100px;
height:30px;
float:left;
}
.intestazione_tab_carrello_delete
{
width:30px;
height:30px;
float:left;
}
.carrello_box_prodotto
{
width:1100px;
height:80px;
float:left;
margin:5px 0 0 0;
text-align:center;
font: 18px 'latoregular', Helvetica, sans-serif;
color:#666666;
background:#FFF;
 border-bottom: 1px dotted #cccccc;	
}
.carrello_prodotto
{
width:560px;
height:80px;
float:left;
}
.carrello_prodotto_img
{
width:80px;
height:80px;
float:left;
}
.carrello_prodotto_titolo
{
width:465px;
height:50px;
float:left;
margin-left:10px;
padding-top:30px;
}
.carrello_prodotto_titolo a
{
font: 18px 'latoregular', Helvetica, sans-serif;
color:#322a7c;
text-decoration:none;	
}
.carrello_prodotto_prezzo
{
width:120px;
height:50px;
float:left;
padding-top:30px;
}
.carrello_prodotto_quantita
{
width:165px;
height:50px;
float:left;
padding-top:30px;
}
.cambia_quantita{
width:auto;
padding:2px 1px 0px 1px;
color:#FFF;
background-color:#ff6e11;
outline:none;
border:1px solid #ff6e11;
font: 11px 'latobold', Arial, serif;
text-transform:uppercase;
margin-top:3px;
}
.cambia_quantita:active{
background-color:#ff6e11;
padding:2px 1px 0px 1px;
}
.carrello_prodotto_sconto
{
width:80px;
height:50px;
float:left;
padding-top:30px;
}
.carrello_prodotto_totale
{
width:100px;
height:50px;
float:left;
padding-top:30px;
}
.carrello_prodotto_delete
{
width:30px;
height:50px;
float:left;
padding-top:30px;
}
#carrello_totale
{
width:1100px;
height:auto;
float:left;
background:#f2f2f2;
color:#00989d;
margin:10px 0 20px 0;
padding-top:10px;
background:#f3f4f6;
}
.carrello_totale_sn
{
width:900px;
height:30px;
float:left;
text-align:right;
font: 18px 'latobold', Helvetica, sans-serif;
}
.carrello_totale_ds
{
width:150px;
height:30px;
float:left;
text-align:right;
margin-right:50px;
font: 18px 'latobold', Helvetica, sans-serif;
}
.carrello_totale_sn_sconto
{
width:900px;
height:30px;
float:left;
text-align:right;
font: 18px 'latoitalic', Helvetica, sans-serif;
}
.carrello_totale_ds_sconto
{
width:150px;
height:30px;
float:left;
text-align:right;
margin-right:50px;
font: 18px 'latoitalic', Helvetica, sans-serif;
}
#carrello_action
{
width:1100px;
height:40px;
float:left;
color:#322a7c;
margin:20px 0 0 0;
font: 18px 'latobold', Helvetica, sans-serif;
}
#carrello_action_sn
{
width:550px;
height:40px;
float:left;
text-align:left;
}
#carrello_action_ds
{
width:550px;
height:40px;
float:right;
text-align:right;
}
/*FINE CARRELLO */
/*HOME */
#hp_colonna_sn
{
width:560px;
height:340px;
float:left;
}
#hp_offerte_titolo
{
width:560px;
height:30px;
float:left;
background:url("../images/hp_titolo_offerte.png") no-repeat 0 -7px;
color:#00989d;
font: 18px 'latobold', Helvetica, sans-serif;
text-align:center;
padding-top:5px;
}
#hp_box_offerte
{
width:560px;
height:300px;
float:left;
margin-top:5px;
}
#hp_colonna_ds
{
width:275px;
height:340px;
float:left;
}
.hp_colonna_ds_baner
{
width:275px;
height:100px;
float:left;
margin:0 0 5px 5px;
text-align:center;
color:#00989d;
background:#ededed;
padding-top:10px;
}
.hp_colonna_ds_baner_testo
{
font: 17px 'latoregular', Helvetica, sans-serif;
margin-top:10px;
}
#hp_riga_banner
{
width:850px;
height:155px;
float:left;
margin-top:10px;
}	
#hp_banner_sn
{
width:270px;
height:150px;
float:left;
border:2px #f3f4f6 solid;
background:url("../images/hp_banner_sn.jpg") no-repeat;
margin-right:10px;
}
#hp_banner_centro
{
width:270px;
height:150px;
float:left;
border:2px #f3f4f6 solid;
background:url("../images/hp_banner_centro.jpg") no-repeat;
margin-right:10px;
}
#hp_banner_ds
{
width:270px;
height:150px;
float:left;
border:2px #f3f4f6 solid;
background:url("../images/hp_banner_ds.jpg") no-repeat;
}
.hp_titolo_banner
{
float:left;			
font: 20px 'latobold', Helvetica, sans-serif;
margin:10px;
color:#00989d;
text-transform:uppercase;
}
.hp_testo_banner
{
width:200px;
float:left;		
font: 14px 'latoregular', Helvetica, sans-serif;
margin-left:10px;
color:#00989d;
}
.hp_lista_banner
{
padding:0;	
margin:0 0 0 10px;
list-style:none;
color:#00989d;
float:left;
width:200px;
font: 14px 'latoregular', Helvetica, sans-serif;
}
.hp_lista_banner li 
{
padding:5px 10px 2px 20px;
background:url("../images/hp_list.png") no-repeat scroll 0 5px transparent;
}
.hp_testo_banner a
{
color:#ff6e11;
}
#hp_novita_titolo
{
width:840px;
height:30px;
float:left;
background:url("../images/hp_titolo_novita.png") no-repeat 0 -2px;
color:#00989d;
font: 18px 'latobold', Helvetica, sans-serif;
text-align:center;
padding-top:5px;
margin:10px 0 10px 0;
}
#hp_ipiuvenduti_titolo
{
width:840px;
height:30px;
float:left;
background:url("../images/hp_titolo_ipiuvenduti.png") no-repeat 0 -2px;
color:#00989d;
font: 18px 'latobold', Helvetica, sans-serif;
text-align:center;
padding-top:5px;
margin:10px 0 10px 0;
}
.hp_prodotto_sn
{
width:400px;
height:150px;
float:left;
background:#FFF;
margin:10px 30px 0 0;
border:2px #f3f4f6 solid;
}
.hp_prodotto_ds
{
width:400px;
height:150px;
float:left;
background:#FFF;
margin:10px 0 0 0;
border:2px #f3f4f6 solid;
}
.hp_prodotto_img
{
width:130px;
height:130px;
float:left;
padding:5px 0 5px 0;
}
.hp_prodotto_info
{
width:260px;
height:150px;
float:left;
}
.hp_prodotto_titolo
{
width:240px;
height:45px;
float:left;
font: 14px 'latoregular', Helvetica, sans-serif;
color:#666666;
margin-top:2px;
}
.hp_prodotto_prezzo
{
width:250px;

float:left;
}
.hp_sconto
{
background:#00989c;
color:#FFF;	
font: 12px 'latoregular', Helvetica, sans-serif;
border-radius:5px;
padding:1px 3px 1px 3px; 
width:135px;
margin-bottom:3px;
}
.hp_prodotto_button
{
width:240px;
height:30px;
float:left;
margin-top:5px;
}
/*ANIMAZIONE */
.rslides
{
list-style:none;
}   			
.rslides_container {
position: relative;
float: left;
width: 560px;
margin:0 auto;
}
.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/themes.png") no-repeat left top;
  margin-top: -35px;
  margin-left:5px;
  margin-right:5px;
  }
.centered-btns_nav:active {
opacity: 1.0;
}
.centered-btns_nav.next {
left: auto;
background-position: right top;
right: 0;
}
.transparent-btns_nav {
z-index: 3;
position: absolute;
-webkit-tap-highlight-color: rgba(0,0,0,0);
top: 0;
left: 0;
display: block;
background: #fff; /* Fix for IE6-9 */
opacity: 0;
filter: alpha(opacity=1);
width: 48%;
text-indent: -9999px;
overflow: hidden;
height: 91%;
}
.transparent-btns_nav.next {
left: auto;
right: 0;
}
.large-btns_nav {
z-index: 3;
position: absolute;
-webkit-tap-highlight-color: rgba(0,0,0,0);
opacity: 0.6;
text-indent: -9999px;
overflow: hidden;
top: 0;
bottom: 0;
left: 0;
background: #000 url("../images/themes.png") no-repeat left 50%;
width: 38px;
}
.large-btns_nav:active {
opacity: 1.0;
}
.large-btns_nav.next {
left: auto;
background-position: right 50%;
right: 0;
}
.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
outline: none;
}
.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
margin-top: 10px;
text-align: center;
}
.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
display: inline;
float: none;
_float: left;
*float: left;
}
.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
text-indent: -9999px;
overflow: hidden;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
background: #ccc;
background: rgba(0,0,0, .2);
display: inline-block;
_display: block;
*display: block;
-webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
-moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
width: 9px;
height: 9px;
}
.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
background: #222;
background: rgba(0,0,0, .8);
}
/*ANIMAZIONE */
/*FRECCIA SU*/
#freccia_su
{
width:45px;
height:67px;
position:fixed;
cursor:pointer;
right:10px;
bottom:10px;
z-index:11;
}
/*CARD*/
#menu_area_riservata
{
width:100px;
height:400px;
float:left;
}
#card
{
width:700px;
height:400px;
float:left;
background:url("../images/card.png") no-repeat;
}
#card_sn
{
width:272px;
height:280px;
float:left;
text-align:center;
margin:60px 0 0 10px;
}
#card_img
{
width:272px;
height:110px;
opacity:0.4;
}
#card_livello
{
width:272px;	
font: 16px 'latoregular', Helvetica, sans-serif;	
color:#00989d;
float:left;
}
#card_nome
{
width:272px;	
font: 20px 'latobold', Helvetica, sans-serif;	
color:#666666;
float:left;
margin-top:50px;
}
#card_codice
{
width:272px;	
font: 14px 'latoregular', Helvetica, sans-serif;	
color:#666666;
float:left;
}
#card_ds
{
width:400px;
height:150px;
float:left;
text-align:center;
margin:130px 0 0 0;
}
#card_hai_accumulato
{
width:400px;
font: 22px 'latoregular', Helvetica, sans-serif;	
color:#FFF;
float:left;
}
#card_numero
{
width:400px;
height:70px;
color:#FFF;
float:left;
}
.numero_punti
{
font: 60px 'latobold', Helvetica, sans-serif;	
}
.punti_testo
{
font: 18px 'latoregular', Helvetica, sans-serif;	
}
#card_soldi
{
width:400px;
color:#FFF;
float:left;
margin-top:20px;
font: 18px 'latoregular', Helvetica, sans-serif;	
}
.card_euro
{
font: 18px 'latobold', Helvetica, sans-serif;	
}
/*FINE CARRELLO */
#ricevuta
{
width:1060px;
height:auto;
float:left;
padding:20px;
background:#FFF;
color:#666666;
font: 18px 'open_sansregular', Helvetica, sans-serif;
}
#ricevuta_alert
{
width:1080px;
height:auto;
float:left;
border:#d72c38 2px dotted;
padding:10px;
}
#ricevuta h2
{
font: 20px 'latobold', Arial, serif;
color:#00989d;
float:left;
width:100%;
}
#carrello_ricevuta
{
width:1100px;
height:auto;
float:left;
margin:0 0 0 20px;
}
