/* CSS Document */
/* Sections */
.section-container, .section-container.auto {
  width: 100%;
  height:auto;
  display: block;
  margin-bottom: 1.25em;
  border: 1px solid #cccccc;
  border-top: none; }
  .section-container section,
  .section-container .section, .section-container.auto section,
  .section-container.auto .section {
    border-top: 1px solid #cccccc;
    position: relative; }
    .section-container section .title,
    .section-container .section .title, .section-container.auto section .title,
    .section-container.auto .section .title {
      top: 0;
      cursor: pointer;
      width: 100%;
	  height:auto;
      margin: 0;
      background-color: #efefef; 
	  }
      .section-container section .title a,
      .section-container .section .title a, .section-container.auto section .title a,
      .section-container.auto .section .title a {
        padding: 0.9375em;
        display: block;
        color: #666666;
		font: 15px 'robotoregular', Arial, serif;
		text-decoration:none;
        width: 90%;
		height:auto; 
		}		
      .section-container section .title:hover,
      .section-container .section .title:hover, .section-container.auto section .title:hover,
      .section-container.auto .section .title:hover {
        background-color: #e2e2e2; }
		
    .section-container section .content,
    .section-container .section .content, .section-container.auto section .content,
    .section-container.auto .section .content {
      display: none;
      padding: 0.9375em;
      background-color: white; }
      .section-container section .content > *:last-child,
      .section-container .section .content > *:last-child, .section-container.auto section .content > *:last-child,
      .section-container.auto .section .content > *:last-child {
        margin-bottom: 0; }
      .section-container section .content > *:first-child,
      .section-container .section .content > *:first-child, .section-container.auto section .content > *:first-child,
      .section-container.auto .section .content > *:first-child {
        padding-top: 0; }
      .section-container section .content > *:last-child,
      .section-container .section .content > *:last-child, .section-container.auto section .content > *:last-child,
      .section-container.auto .section .content > *:last-child {
        padding-bottom: 0; }
    .section-container section.active .content,
    .section-container .section.active .content, .section-container.auto section.active .content,
    .section-container.auto .section.active .content {
      display: block; }
    .section-container section.active .title,
    .section-container .section.active .title, .section-container.auto section.active .title,
    .section-container.auto .section.active .title {
      background: #d5d5d5; }

.section-container.tabs {
  border: 0;
  position: relative; }
  .section-container.tabs section,
  .section-container.tabs .section {
    padding-top: 0;
    border: 0;
    position: static; }
    .section-container.tabs section .title,
    .section-container.tabs .section .title {
      width: auto;
	  height:auto;
      border: 1px solid #cccccc;
      border-right: 0;
      border-bottom: 0;
      position: absolute;
      z-index: 1; }
      .section-container.tabs section .title a,
      .section-container.tabs .section .title a {
        width: 100%;
		height:auto; }
    .section-container.tabs section:last-child .title,
    .section-container.tabs .section:last-child .title {
      border-right: 1px solid #cccccc; }
    .section-container.tabs section .content,
    .section-container.tabs .section .content {
      border: 1px solid #cccccc;
      position: absolute;
      z-index: 10;
      top: -1px; }
    .section-container.tabs section.active .title,
    .section-container.tabs .section.active .title {
      background-color: white;
      z-index: 11;
      border-bottom: 0; }
    .section-container.tabs section.active .content,
    .section-container.tabs .section.active .content {
      position: relative; }

  .section-container.accordion .section {
    padding-top: 0 !important; }
	
.content ul 
{
list-style:none;
font: 14px 'robotoregular', Arial, serif;
color:#666666;
}
.content li 
{
padding:2px 10px 2px 15px;
background:url("../images/puntatore_li.gif") no-repeat scroll 0 7px transparent;
}
.content li a:link, .content li a:visited
{
color:#666666;
text-decoration:none;
}
.content h4
{
list-style:none;
font: 18px 'robotoregular', Arial, serif;
color:#666666;
}	
	